{% extends 'index.html.twig' %}

{% block title %}Accueil - Filmoteca{% endblock %}

{% block header %}Bienvenue sur Filmoteca !{% endblock %}

{% block body %}
    <section class="pagehome" id="accueil">
        <p>Explorez notre collection de films, ajoutez de nouvelles œuvres, et partagez vos notes et commentaires !</p>
    </section>
{% endblock %}
